.photo-head{
    display:flex;
   justify-content: space-between;
   align-items: center;
  height:500px;
   background: rgba(209, 98, 122, 0.574);
   margin-bottom:10px;
}
.img-cutting{
    width: 400px;
height: 475px;
margin:30px 180px 0 110px;
}
.head-edit{
    font-size: 28px;
   margin-left:100px;
}
.para-edit{
    margin-left:100px;
}
.btn-primary{
    margin-left:100px;
    border-radius: 4px;
background: #E55473;
padding:10px 23px;
gap: 10px;
}
.word-edit
{
    color: #E55473;  
}
.banner{
    display:flex;
    text-align:center;
    align-items: center;
    justify-content: space-between;
background: rgba(229, 118, 142, 0.451);
margin-bottom:10px;
}
section{
    
height:320px;
background:rgba(180, 134, 163, 0.567);
gap:30px;
}

.img-cutting2{
    width: 200px;
height: 220px;
margin:30px 400px 0 180px;
}
.head-edit2{
    margin-left:200px;
    font-size:28px;
}
.para-edit2{
    margin-left:186px;
}
.btn-primary2{
    margin-left:196px;
    border-radius: 4px;
background: #E55473;
padding:10px 23px;
gap: 10px;
}
.s1{
background:none;
height:600px;
}
.img-cutting3{
    height:200px;
    width:160px;
}
.photo1{
    display:flex;
    align-items: center;
    margin-left:450px;
    margin-right:320pxpx;
    gap:7px;
}
.head-para3{
    text-align:center;
}
.head-edit3{
    font-size:20px;
}
.head-p{
    text-align:center;
}
.formm{
    background-image: url('images/Rectangle\ 9.png');
    height:300px;
    margin:30px 120px 30px 130px;
}
.head-edit4{
    margin-top:30px;
    padding-top: 5px;
    font-size:22px;
}
.box
{
    padding:3px 5px 3px 5px;
    width: 500px;
height:30px;
border-radius: 8px;
background: #FFF;
margin-left: 360px;
}
.backed
{
    align-items:center;
    margin-top:20px;
    padding-top:60px;
    margin-bottom: 30px;
}

.btn-primary3{
    border-radius: 4px;
    background: #E55473;
    padding:10px 23px;
    gap: 10px;
}
.headx{
    font-size: 26px;
   
font-weight: 800;
}
.foot{
    height:300px;
    background: #111010;
    color:whitesmoke;
   
  
}
.worde{
    color: #E55473;
}
.f{
   margin-top:50px;
   text-align:center;
   padding-top:10px;
}
.icon{
    height:280px;
    border-radius: 8px;
background: rgba(211, 210, 199, 0.988);
margin:70px 140px 70px 140px;
align-items: center;
        justify-content:space-between;
        gap:10px;
}

.doll
{
    width:80px;
    height:120px;
}
    .dol-posi{
        display:flex;
        align-items: center;
        justify-content:space-evenly;
        gap:10px;
        padding-top:50px;

    }
    .sec2{
        background: none;
        height:650px;
        margin-top:50px;
    }
    .div1{
        height:270px;
        width:180px;
        border-radius: 80px 80px 0px 0px;
background: rgba(167, 33, 98, 0.15);
    }
    .div2{
        height:270px;
        width:180px;
        border-radius: 80px 80px 0px 0px;
        background: rgba(51, 97, 189, 0.574);
    }
    .div3{
        height:270px;
        width:180px;
        border-radius: 80px 80px 0px 0px;
        background: rgba(45, 179, 50, 0.507);
}
.together{
    align-items:center;
justify-content: space-evenly;
    display:flex;
    gap:10px;
    padding-top:180px;
   
}
.box-im{
    height:200px;
    width:120px;
    margin-top:70px;
    margin-left: 30px;
}
.anchor{
    text-align: center;
    margin-left:33px;
}
.my1{
    text-align: center;
    padding-top:50px;
    margin-top:10px
}
.newhead{
    font-size:26px;
}